<% if (method === "post") { %>
<div class="container">


  <form action="/cats" method="post">
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <p class="for-inputs">Name:</p>
            <input class="input my-2" type="text" name="name" placeholder="Wiz Khatlifa">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <p class="for-inputs">Age (Years):</p>
            <input class="input my-2" type="number" name="ageYears" placeholder="2">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <p class="for-inputs">Age (Months):</p>
            <input class="input my-2" type="number" name="ageMonths" placeholder="5">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <p class="for-inputs">Description:</p>
            <textarea class="textarea my-2" name="description"
              placeholder="Wiz is the runt of a runt litter rescued from a backyard in Williamsburg--but don't let his pint size fool you! What he lacks in size, he makes up for in personality. Let's just say he's very chatty and opinionated... but he loves snuggles and pets on HIS terms. Wiz needs to be adopted into a  home with another confident cat his age."></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <p class="for-inputs">Glamour Shot:</p>
            <input class="input my-2" type="url" name="img" placeholder="https://www.wiz.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <input class="input my-2" id="submit-button" type="submit" value="Add New Cat">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<% } else { %>
<div class="container">


  <form action="/cats/<%=cats.id%>?_method=put" method="post">
    <!-- NOTE: the form is pre-populated with values from the server -->
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <p class="for-inputs">Name:</p>
            <input class="input my-2" type="text" name="name" value="<%=cats.name%>">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <p class="for-inputs">Age (Years):</p>
            <input class="input my-2" type="number" name="ageYears" value="<%=cats.ageYears%>">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <p class="for-inputs">Age (Months):</p>
            <input class="input my-2" type="number" name="ageMonths" value="<%=cats.ageMonths%>">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <p class="for-inputs">Description:</p>
            <textarea class="textarea my-2" name="description"><%=cats.description%></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <p class="for-inputs">Glamour Shot:</p>
            <input class="input my-2" type="url" name="img" value="<%=cats.img%>">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <input class="input my-2" id="submit-button" type="submit" value="Submit Changes">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<% } %>
