<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body class="has-navbar-fixed-top has-spaced-navbar-fixed-top">
  <%- include ('../partials/welcome_back_nav.ejs') %>
  <section class="hero is-large">
    <div class="hero-body" id="hero">
      <p class="title">The Carroll Street Cat Cafe</p>
      <p class="subtitle">39 Carroll St | Brooklyn, NY | 718.555.5555</p>
    </div>
  </section>
  <h1 class="my-3 mt-6" id="index-page">Meet Our Cats</h1>
  <div class="page-wrapper">
    <section class="page-content">
      <% for (let i = 0; i < cats.length; i++) { %>
      <a href="/cats/<%=cats[i].id%>">
        <div class="each-item">
          <p class="each-name">
            <%= cats[i].name %>
          </p>
          <a href="/cats/<%=cats[i].id%>"><img src="<%=cats[i].img%>"></a>
        </div>
      </a>
      <% } %>
    </section>
  </div>
  <%- include ('../partials/visitor_footer.ejs') %>
</body>

</html>